@model ProductManagement.Models.AddEmployeeViewModel

@{
    ViewData["Title"] = "Add User";
}

<h1>Add User</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Firstname">
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check" hidden>
        <label for="" class="form-label">Is Active</label>
        <input type="checkbox" class="form-check-input" asp-for="IsActive">
    </div>

    <div class="mb-3 form-check">
        <label for="" class="form-label">Is Admin</label>
        <input type="checkbox" class="form-check-input" asp-for="IsAdmin">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    @if (ViewData["ValidateMessage"] != null)
    {
        <br />
        <br />
        <label style="color:red">@ViewData["ValidateMessage"]</label>
    }
</form>