@model ProductManagement.Models.PasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>
<form method="post" action="Password" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Current password</label>
        <input type="password" class="form-control" asp-for="CurrentPassword">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">New password</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Confirm new password</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Update</button>
    @if (ViewData["ValidateMessage"] != null)
    {
        <br />
        <br />
        <label style="color:forestgreen">@ViewData["ValidateMessage"]</label>
    }
</form>