@model ProductManagement.Models.EditEmployeeViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>
<form method="post" action="ResetPassword" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Firstname" readonly>
        <span asp-validation-for="Firstname" class="text-danger"></span>
        <input type="number" hidden class="form-control" asp-for="EmployeeId">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" readonly>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check" hidden>
        <label for="" class="form-label">Is Admin</label>
        <input type="checkbox" class="form-check-input" asp-for="IsAdmin">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" readonly>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
    @if (ViewData["ValidateMessage"] != null)
    {
        <br />
        <br />
        <label style="color:green">@ViewData["ValidateMessage"]</label>
    }
</form>